@import "../__sassy.scss";

.main {
  @include grid(1fr, min-content 1fr min-content, 1em);
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  :global {
    header {
      height: 90px;
      position: sticky;
      top: 0;
      padding: 2em;

      background-color: white;
    }

    .content {
      padding: 1em;
      width: 100%;
      height: max-content;
    }

    footer {
      height: max-content;
      padding: 2em;

      background-color: black;
    }
  }
}
